<style>
    img {
        margin-right: 20px;
        border-radius: 10px;
        height: 300px;
        width: 300px;
    }
    .sobre{
        border-radius: 10px;
        padding: 30px;
    }
    .box1 {
        margin-top: 100px;
        width: 1500px;
        display: flex;
    }

    .box2 {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 1500px;
        flex-wrap: wrap;
    }

    .q {
        border-radius: 10px;
        width: 150px;
        height:150px;
    }

    .sobreMim {
        border-radius: 10px;
        padding: 15px;
        width: 600px;
        height: 200px;
    }

    .socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around ;
        margin-left: 20px;
        flex-wrap: wrap;
        width: 650px;
        height: 200px;
    }

    .g {
        margin: auto;
        background-color: whitesmoke;
        height: 70%;
        width: 90%;
    }
</style>

     <div class="container box1">
        <div class="imagem"><img src="{{data.github}}.png" alt=""></div>
        <div class="sobre bg-light">
            <h1>{{data.nome}}</h1>
            <p class="lead">{{data.sobreMim}}</p>
        </div>
    </div>


    <div class="container box2">
        <div class="sobreMim  bg-light">
            <h1>{{data.profissao}}</h1>
            <p class="text-muted">{{data.sobreTrabalho}}</p>
        </div>
        <div class="socials">
            <a href="{{data.github}}"><img class="q" src="https://cdn-icons-png.flaticon.com/512/38/38401.png" alt="github"></a>
            <a href="{{data.email}}"><img class="q" src="https://cdn-icons-png.flaticon.com/512/37/37572.png" alt="email" ></a>
            <a href="{{data.linkedin}}"><img  class="q" src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="linkedin"></a>

        </div>
    </div>
