<div class="container mt-4">

    <div class="card">

        <div class="card-body">
            <h3>Fazendo registro</h3>
            <form method="post" action="/usuarios/registroPost">
                {{!-- Nome --}}
                <div class="form-group mt-2">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira seu nome"
                        required value="{{dadosUsuario.nome}}">
                </div>
                {{!-- Usuario --}}
                <div class="form-group mt-2">
                    <label for="nome">Usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario"
                        placeholder="Sera usado como parte do site!" required value="{{dadosUsuario.usuario}}">
                </div>
                {{!-- Email --}}
                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu email"
                        required value="{{dadosUsuario.email}}">
                </div>
                {{!-- Profissao --}}
                <div class="form-group mt-2">
                    <label for="profissao">Sua profissão</label>
                    <input type="text" class="form-control" id="profissao" name="profissao" required
                        placeholder="Insira sua profissão" value="{{dadosUsuario.profissao}}">
                </div>
                {{!-- Linkedin --}}
                <div class="form-group mt-2">
                    <label for="linkedin">Seu Linkedin</label>
                    <input type="text" class="form-control" id="linkedin" name="linkedin" required
                        placeholder="Insira seu linkedin" value="{{dadosUsuario.linkedin}}">
                </div>
                {{!-- Github --}}
                <div class="form-group mt-2">
                    <label for="github">Seu Github</label>
                    <input type="text" class="form-control" id="github" name="github" placeholder="Insira seu Github (Se não tiver um não é necessário, mas seu perfil ficara sem foto)"
                        value="{{dadosUsuario.github}}">
                    <small class="text-secondary">Por questões de armazenamento, sua foto de perfil será a mesma do seu
                        github</small>
                </div>
                {{!-- Sobre Mim --}}
                <div class="form-group mt-2">
                    <label for="sobre">Sobre você </label>
                    <textarea class="form-control" id="sobreMim" name="sobreMim" rows="4"
                        placeholder="Fale em 3 linhas sobre você" maxlength="661">{{dadosUsuario.sobreMim}}</textarea required>
                </div>
                {{!-- Sobre o Trabalho --}}
                <div class="form-group mt-2">
                    <label for="sobre">Sobre seu trabalho </label>
                    <textarea class="form-control" id="sobreTrabalho" name="sobreTrabalho" rows="3" maxlength="393" required 
                        placeholder="Fale em 3 linhas sobre seu trabalho">{{dadosUsuario.sobreTrabalho}}</textarea>
                </div>
                {{!-- Senha --}}
                <div class="form-group mt-2">
                    <label for="senha">Sua senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Sua senha"
                        required>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Registrar</button>
            </form>
        </div>
    </div>
</div>